<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spectral_data_preprocessing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1 class="mt-5 mb-5">Spectral Data Preprocessing</h1>
        <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %} {{ uploadfile.upload_file }}
            <p>Wavelength for zero-point adjustment {{ uploadfile.wl_corr }}</p>
            <div class="row">
                <div class="d-grid gap-2">
                    <button class="btn btn-outline-dark" type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>