
{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h3 class="mt-5 mb-3">Deriverative transformation of spectral data</h3>
        <form method="POST" class="post-form" enctype="multipart/form-data">
            {% csrf_token %} 
            <p>{{ uploadfile.upload_file }}</p>
            <p>n_differential: {{ uploadfile.n_differential }}</p>
            <p>polyorder: {{ uploadfile.polyorder }}</p>
            <p>window_length: {{ uploadfile.window_length }}</p>
            <p>n_smooth: {{ uploadfile.n_smooth }}</p>
            <div class="row">
                <div class="d-grid gap-2">
                    <button class="btn btn-outline-dark" type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
