<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'preprocessing/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <title>Preprocessing</title>
</head>
<html>
    <header>
        <a href="/"><img class='home' src="{% static 'preprocessing/img/home.svg' %}" alt="home"></a>
    </header>
    <div>
        <div class="space"></div>
        <h1>Preprocessing</h1>
        <form method="POST" class="post-form" enctype="multipart/form-data" onSubmit="return check()">
            {% csrf_token %}
            <div id="drop-zone">
                <p>Drop csv file here.</p>
                <div class='input'>
                    <input type="file" name="upload_file" required id="id_upload_file">
                </div>
            </div>
            <div class="field">
                <input type="number" name="wl_corr" required="" id="id_wl_corr" placeholder="Wavelength for zero point ajustment">
            </div>  
            <div id="preview"></div>

            <div class=button_area>
                <button type="submit">
                    <p>Send</p>
                </button>
            </div>       
        </form>
    </div>
    <script src="{% static 'preprocessing/js/script.js' %}"></script>
</html>
