<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'derivatives/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <title>High order derivatives</title>
</head>
<html>
    <header>
        <a href="/"><img class='home' src="{% static 'derivatives/img/home.svg' %}" alt="home"></a>
    </header>
    <div>
        <h1>High order derivatives</h1>
        <form method="POST" class="post-form" enctype="multipart/form-data" onSubmit="return check()">
            {% csrf_token %}
            <div id="drop-zone">
                <p>csvファイルをドラック＆ドロップ</p>
            </div>
            <input type="file" name="upload_file" required id="id_upload_file">
            <div class="field">
                <label>微分次数</label><br>
                <input type="number" name="n_differential" class="form-control" required="" id="id_n_differential" placeholder="input" value=4>
            </div>  
            <div class="field"> 
                <label>多項式</label><br>
                <input type="radio" id="id_polyorder_0" name="polyorder" value=2 checked>
                <label for="id_polyorder_0">2</label>
                <input type="radio" id="id_polyorder_1" name="polyorder" value=4>
                <label for="id_polyorder_1">4</label>
            </div>
            <div class="field">
                <label>フィルター幅</label><br>
                <input type="number" name="window_length" class="form-control" required="" id="id_window_length" placeholder="input">
            </div>  
            <div class="field">
                <label>スムージング回数</label><br>
                <input type="number" name="n_smooth" class="form-control" required="" id="id_n_smooth" placeholder="input">
            </div>
            <div class=button_area>
                <button type="submit">
                    <p>Analysis</p>
                </button>
            </div>       
        </form>
    </div>
    <script src="{% static 'derivatives/js/script.js' %}"></script>
    <script>
        const input = document.getElementById("id_window_length");

        input.addEventListener("change", updateValue);

        function updateValue(e) {
            if (e.target.value % 2 == 0) {
            alert("フィルター幅は奇数のみ有効です");
            e.target.value = "";
        }
        }
    </script>
</html>