<!DOCTYPE html>
<html lang="ja">
    <head>
        {% load static%}
        <meta charset="UTF-8" />
        <title>Spectral Analysis Tools</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>      
        <header>
            <a href="#" class="btn4">
                Spectral Analysis Tools
            </a>
        </header>

        <nav>
            <a href="analysis1">
                <ul class="details">
                    <li class="type1">
                        <img src="{% static 'images/1.png' %}" width="290px" height="200px">
                        <dl>
                            <dt>Data Preprocessing</dt>
                            <dd>紫外-可視吸収スペクトルデータのベースライン補正、波長補正を行い、スペクトルデータを可視化します。</dd>
                        </dl>
                    </li>
            </a>
        </nav>

        <main>
            <a href="analysis2">
                <ul class="details">
                    <li class="type1">
                        <img src="{% static 'images/2.png' %}" width="290px" height="200px">
                        <dl>
                            <dt>Derivative Spectra</dt>
                            <dd>任意の次数にてスペクトルデータの微分変換を行います。スペクトルの微分変換後、Savitzky-Golayフィルターによりスムージング処理を行います。</dd>
                        </dl>
                    </li>
            </a>
        </main>

        <aside>
            <a href="#">
            <ul class="details">
                <li class="type1">
                    <img src="{% static 'images/3.png' %}" width="290px" height="200px">
                    <dl>
                        <dt>Independent Component Analysis</dt>
                        <dd>独立成分分析によりスペクトルデータに含まれる潜在的な因子を推定します。アルゴリズムにはfastICAを使用します。</dd>
                    </dl>
                </li>
            </a>
        </aside>

        <footer></footer>
    </body>
</html>