<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'ica/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <title>Preprocessing</title>
</head>
<html>
    <header>
        <a href="/"><img class='home' src="{% static 'preprocessing/img/home.svg' %}" alt="home"></a>
    </header>
    <div>
        <div class="space"></div>
        <h1>Results</h1>
    <div class="field">
        <p><img src="data:image/png;base64, {{ graph | safe }} " alt=""></p>
        {% for file in uploadfile %}
        <p>Download: <a href="{{ file.upload_file.url }}">{{ file.upload_file.name }}</a></p>
    </div>
        {% endfor %}  
    <script src="{% static 'ica/js/script.js' %}"></script>
</html>
