* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background: #ffffff; 
}

body {
  padding: 6rem;
  color: #ffffff;
  font-family: "Open Sans";
}

    
h1 {
  text-align: center;
  color: #756C91;
  margin: 4rem auto;
}

/* flexbox */
.flex-container{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin: 0 auto;
    align-content: flex-start;
}

.app{
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 1rem;
    }

.app:hover{
    transform: translateY(-10px);
    transition: 0.3s;
}
