* {
    box-sizing: border-box;
  }

html {
  height: 100%;
  background: #ffffff; 
}

body {
  padding: 2rem;
  color: #756C91;
  font-family: "Open Sans";
}
  
.home{
  width: 2rem;
  height: 2rem;
}
  
h1 {
  text-align: center;
  color: #756C91;
}

.graph-container {
    display: flex;
    justify-content: center;
}

.graph {
    margin: 1rem;
}
