* {
    box-sizing: border-box;
  }

  html {
    height: 100%;
    background: #ff8c00; 
  }

body {
  padding: 2rem;
  color: #ffffff;
  font-family: "Open Sans";
}
  
.home{
  width: 2rem;
  height: 2rem;
}
  
h1 {
  text-align: center;
  color: #ffffff;
}
  
form {
  width: 40%;
  margin: 2% auto;
  min-width: 9rem;
}
  
#file-zone{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.15rem solid #ffffff; 
  height: 300px;
  font-size: 24px;
  color: #4E4449;
  background-color: #ffffff;
  border-radius: 0.3rem;
}
  
.input_form {
  margin: 5% auto;
}
  
input[type=number] {
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: #ffffff;
  color: #4E4449;
}
  
input::placeholder {
  color: #4E4449;
}
  
button {
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border-radius: 0.3rem;
  background: #ffffff;
  color: rgb(110, 110, 110);
  width: auto;
}
  
button:hover {
  background: rgb(255, 154, 72);
  color: #ffffff;
}
  
  
  