<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'derivatives/css/style.css' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
  <title>High order derivatives</title>
</head>
<html>
<header> <a href="/"><img class='home' src="{% static 'derivatives/img/home.svg' %}" alt="home"></a> </header>

<h1>High order derivatives</h1>

<form method="POST" class="post-form" enctype="multipart/form-data" onSubmit="return check()"> {% csrf_token %}
    
  <div id="file-zone">
    <p>Drop here!!</p> <input type="file" name="upload_file" id="id_upload_file" required="">
  </div>

  <div class="input_form">微分階数
    <input type="number" name="n_differential" class="form-control" required="" id="id_n_differential" placeholder="input" value=4>
  </div>

  <div class="radio-container">
    <div>多項式</div>
    <div class="radio"> <input type="radio" id="radio-1" name="polyorder" value=2 checked> <label for="radio-1" class="radio-label">2</label> </div>
    <div class="radio"> <input type="radio" id="radio-2" name="polyorder" value=4> <label for="radio-2" class="radio-label">4</label></div>
  </div>

  <div class="input_form">ウィンドウ幅
      <input type="number" name="window_length" class="form-control" required="" id="id_window_length" placeholder="input">
      <div id="window_length_alert"></div>
  </div>

  <div class="input_form">スムージング回数
      <input type="number" name="n_smooth" class="form-control" required="" id="id_n_smooth" placeholder="input">
  </div>

  <button type="submit">Go!!</button>

</form>

<script src="{% static 'derivatives/js/script.js' %}"></script>
</html>